.frontpage-web3-payments-image {
  position: relative;
  top: -8.4rem;
  margin-bottom: -8.4rem;
}

@media (max-width: 996px) {
  .frontpage-web3-payments-image {
    top: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}
